.screen{
    height: 1.2em;
    font-size: 3em;
    background-color: red;
    border-bottom: black 0.05em solid;
    border-radius: 0.6em 0.6em 0 0;
    padding: 0.2em;
}

.calc-container{
    width: 34em;
    border-radius: 2em;
    border: black 0.2em solid;
}
.key{
    font-size: 3em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.1em;

    cursor: pointer;
}

.buttons{
    display: flex;
}

.digits{
    width: 20em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-right: black 0.15em solid;
}

.other{
    width: 14em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}